extends layout

block content
  .mdl-grid.portfolio-max-width
    .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
      .mdl-card__media
        img.article-image(src=' images/example-work01.jpg', border='0', alt='')
      .mdl-card__title
        h2.mdl-card__title-text Blog template
      .mdl-card__supporting-text
        | Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href='portfolio-example01.html') Read more
    .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
      .mdl-card__media
        img.article-image(src=' images/example-work07.jpg', border='0', alt='')
      .mdl-card__title
        h2.mdl-card__title-text Sunt nulla
      .mdl-card__supporting-text
        | Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href='portfolio-example01.html') Read more
    .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
      .mdl-card__media
        img.article-image(src=' images/example-work02.jpg', border='0', alt='')
      .mdl-card__title
        h2.mdl-card__title-text Android.com website
      .mdl-card__supporting-text
        | Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href='portfolio-example01.html') Read more
    .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
      .mdl-card__media
        img.article-image(src=' images/example-work03.jpg', border='0', alt='')
      .mdl-card__title
        h2.mdl-card__title-text Dashboard template
      .mdl-card__supporting-text
        | Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href='portfolio-example01.html') Read more
    .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
      .mdl-card__media
        img.article-image(src=' images/example-work04.jpg', border='0', alt='')
      .mdl-card__title
        h2.mdl-card__title-text Text-heavy website
      .mdl-card__supporting-text
        | Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href='portfolio-example01.html') Read more
    .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
      .mdl-card__media
        img.article-image(src=' images/example-work08.jpg', border='0', alt='')
      .mdl-card__title
        h2.mdl-card__title-text Ex officia laborum
      .mdl-card__supporting-text
        | Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href='portfolio-example01.html') Read more
    .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
      .mdl-card__media
        img.article-image(src=' images/example-work05.jpg', border='0', alt='')
      .mdl-card__title
        h2.mdl-card__title-text Stand-alone article
      .mdl-card__supporting-text
        | Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href='portfolio-example01.html') Read more
    .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
      .mdl-card__media
        img.article-image(src=' images/example-work06.jpg', border='0', alt='')
      .mdl-card__title
        h2.mdl-card__title-text MDL website
      .mdl-card__supporting-text
        | Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href='portfolio-example01.html') Read more
    .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
      .mdl-card__media
        img.article-image(src=' images/example-work09.jpg', border='0', alt='')
      .mdl-card__title
        h2.mdl-card__title-text Consequat ut quis
      .mdl-card__supporting-text
        | Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href='portfolio-example01.html') Read more